.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 300px;        
    margin: 0 auto;      
    padding: 20px;        
    border: 1px solid #ccc;      
}

.form-group {
    margin-bottom: 15px;
}

  
.login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #181717;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-button:hover {
    background-color: black;
}
