.lobby-header {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
}

.lobby-sub-header {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.lobbyPageContainer{
  max-width: 600px;
  align-items: center;
  padding: 10px;
;
}

.block{
  display: block;
  width: 100%;
}

.teams-container {
 border: 2px solid rgb(255, 255, 255);
 padding: 10px;
 padding-top: 40px !important;
 padding-bottom: 0px;
 margin:0;
 align-items: center;
}

.team {
  margin-bottom: 20px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.seat {
  width: 130px;
  height: 130px;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin: 20px 10px ;
  font-size: 20px;
}

.taken {
  background-color: #010101;
  cursor: not-allowed;
}

.lobby-button {
  padding: 5px 10px;
  background-color: #d3d7db;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; 
  margin: 0 auto;
  width: 100%;
  align-self: center;
  height: 60px;
}
.returnButton{
  border-radius: 10%;
  padding:2px;
  left: 0;
  background-color: aliceblue;
  position:absolute;
  top:0;
}

button:hover {
  background-color: #a0a1a2;
}

#username-input{
  margin-left: 5px; 
}

.tableID-text{
  margin-bottom: -50px;
  font-size: 10px;
}

.teamInfo{
  font-size: 10px;
}
