.name-header {
    font-size: 40px;  
}

.table {
    position: absolute;
    top: 45%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    background-color: #685353;
    border-radius: 10px;
    z-index: 0;
}

.chair {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #685353;
    border: 1px solid #312727;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
    justify-content: center;
    display: grid;
}

.top {
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
}

.on-chair {
    top: -30px;
}

.left {
    top: 50%;
    left: -75px;
    transform: translateY(-50%);
}

.right {
    top: 50%;
    right: -75px;
    transform: translateY(-50%);
}

.bottom {
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
}

.player {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e3dede;
    z-index: 1;
}

.name {
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    z-index: 1;
}

.body {
    position: absolute;
    left: 50%;
    top: 7px;
    transform: translateX(-50%);
    width: 35px;
    height: 30px;
    border-radius: 50% 50% 20% 20%;
    background-color: black;
    z-index: 0;
}
.crown{
    width: 100px;
    height: 100px;
    background: transparent;
}
.passButton{
    position:absolute;
    top: 75%;
    left: 40%;  
    width: 80px;
    height: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5%;
    background-color: #f7f5f5;
   
}
.passButton:hover {
    background-color: darkgray;    
    transform: scale(1.05);    
    transition: background-color 0.3s, transform 0.3s;
}
.startGameButton{   
    background-color: rgba(0, 0, 0, 0.789);
    position: absolute;
    z-index: 2;
    left: 0;
    top:0;
    height: 100%;  
    width: 100%;  
}
